<div class="container my-3">
    <div class="card-background z-depth-4 pb-3">
        <app-ribbon tittle={{homeworkName}} editClass="true"></app-ribbon>
        <button class="mt-2 ml-3" mat-raised-button color="primary" type="button" (click)="goBack()">
            <fa-icon [icon]="faLeft">
            </fa-icon> Regresar
        </button>
        <hr>
        <div class="row my-2 mx-md-5">
            <div class="col l4 s12">
                <h2><b>Nombre: </b></h2>
                <h2>{{homeworkName.substring(7)}} </h2>
            </div>
            <div class="col l4 s12">
                <h2><b>Punteo: </b></h2>
                <h2>{{score}} </h2>
            </div>
            <div class="col l4 s12 pb-3">
                <h2><b>Fecha: </b></h2>
                <h2>{{deliveryDate | date: 'dd/MM/yyyy'}} </h2>
            </div>

            <div class="col l12 s12">
                <h2><b>Detalle: </b></h2>
                <p [innerHTML]=detail></p>
            </div>
        </div>
        <hr>
        <div class="row my-2 mx-md-5">
            <h1 style="text-align: center;" class="pb-0">Alumnos</h1>
            <table class="px-3" *ngIf="!isLoadingResults && studentData.length > 0" mat-table [dataSource]="studentData"
                class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef width="50%"> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.completeName}} </td>
                </ng-container>
                <ng-container matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Punteo </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline" style="width: 75%;">
                            <mat-label>Puntos</mat-label>
                            <input matInput name="points" id="point_{{element.id}}" type="number" min="1" max="100"
                                maxlength="3">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="annotation">
                    <th mat-header-cell *matHeaderCellDef> Anotación </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field appearance="outline">
                            <mat-label>Anotación</mat-label>
                            <textarea name="anotation" id="annotation_{{element.id}}" matInput
                                placeholder="..."></textarea>
                        </mat-form-field>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedStudentColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedStudentColumns;"></tr>
            </table>
        </div>
        <div class="row">

            <div class="col m6 s6 pos-right">
                <button mat-raised-button color="primary" (click)="sendScore()" name="action">
                    <fa-icon [icon]="faSpellCheck"></fa-icon> Calificar
                </button>
            </div>
        </div>

    </div>
</div>