<nav>
    <div class="nav-wrapper">
        <a routerLink="/admin/config" class="brand-logo ml-2">
            <fa-icon [icon]="faHome"></fa-icon> Inicio
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <a (click)="logout()">Cerrar Sesión <fa-icon [icon]="faPowerOff"></fa-icon></a>
        </ul>
    </div>
</nav>