.z-depth-0 {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  
  /* 2dp elevation modified*/
  .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .z-depth-1-half, .btn:hover, .btn-large:hover, .btn-small:hover, .btn-floating:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
  
  /* 6dp elevation modified*/
  .z-depth-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
  
  /* 12dp elevation modified*/
  .z-depth-3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  
  /* 16dp elevation */
  .z-depth-4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  }
  
  /* 24dp elevation */
  .z-depth-5, .modal {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
            box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
  
  .hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
  }
  
  .hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  
  blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #ee6e73;
  }
  
  i {
    line-height: inherit;
  }
  
  i.left {
    float: left;
    margin-right: 15px;
  }
  
  i.right {
    float: right;
    margin-left: 15px;
  }
  
  i.tiny {
    font-size: 1rem;
  }
  
  i.small {
    font-size: 2rem;
  }
  
  i.medium {
    font-size: 4rem;
  }
  
  i.large {
    font-size: 6rem;
  }
  
  img.responsive-img,
  video.responsive-video {
    max-width: 100%;
    height: auto;
  }

  /*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
    .hide-on-small-only, .hide-on-small-and-down {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
      display: none !important;
    }
  }
  
  @media only screen and (min-width: 601px) {
    .hide-on-med-and-up {
      display: none !important;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
      display: none !important;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .hide-on-large-only {
      display: none !important;
    }
  }
  
  @media only screen and (min-width: 1201px) {
    .hide-on-extra-large-only {
      display: none !important;
    }
  }
  
  @media only screen and (min-width: 1201px) {
    .show-on-extra-large {
      display: block !important;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .show-on-large {
      display: block !important;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
      display: block !important;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .show-on-small {
      display: block !important;
    }
  }
  
  @media only screen and (min-width: 601px) {
    .show-on-medium-and-up {
      display: block !important;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .show-on-medium-and-down {
      display: block !important;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .center-on-small-only {
      text-align: center;
    }
  }
  
  .page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #ee6e73;
  }
  
  .page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
  }

  /*******************
  Utility Classes
*******************/
.hide {
    display: none !important;
  }
  
  .left-align {
    text-align: left;
  }
  
  .right-align {
    text-align: right;
  }
  
  .center, .center-align {
    text-align: center;
  }
  
  .left {
    float: left !important;
  }
  
  .right {
    float: right !important;
  }
  
  .no-select, input[type=range],
  input[type=range] + .thumb {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .circle {
    border-radius: 50%;
  }
  
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  
  @media only screen and (min-width: 601px) {
    .container {
      width: 85%;
    }
  }
  
  @media only screen and (min-width: 993px) {
    .container {
      width: 70%;
    }
  }

  nav {
    color: #fff;
    background-color: #082e66;
    width: 100%;
    height: 56px;
    line-height: 56px;
  }
  
  nav.nav-extended {
    height: auto;
  }
  
  nav.nav-extended .nav-wrapper {
    min-height: 56px;
    height: auto;
  }
  
  nav.nav-extended .nav-content {
    position: relative;
    line-height: normal;
  }
  
  nav a {
    color: #fff;
  }
  
  nav i,
  nav [class^="mdi-"], nav [class*="mdi-"],
  nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
  }
  
  nav .nav-wrapper {
    position: relative;
    height: 100%;
  }
  
  @media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
      display: none;
    }
  }
  
  nav .sidenav-trigger {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
  }
  
  nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
  }
  
  nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0;
  }
  
  nav .brand-logo.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  @media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
    nav .brand-logo.left, nav .brand-logo.right {
      padding: 0;
      -webkit-transform: none;
              transform: none;
    }
    nav .brand-logo.left {
      left: 0.5rem;
    }
    nav .brand-logo.right {
      right: 0.5rem;
      left: auto;
    }
  }
  
  nav .brand-logo.right {
    right: 0.5rem;
    padding: 0;
  }
  
  nav .brand-logo i,
  nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
  nav .brand-logo i.material-icons {
    float: left;
    margin-right: 15px;
  }
  
  nav .nav-title {
    display: inline-block;
    font-size: 32px;
    padding: 28px 0;
  }
  
  nav ul {
    margin: 0;
  }
  
  nav ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    padding: 0;
  }
  
  nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
  }
  
  nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
    height: inherit;
    line-height: inherit;
  }
  
  nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  nav ul.left {
    float: left;
  }
  
  nav form {
    height: 100%;
  }
  
  nav .input-field {
    margin: 0;
    height: 100%;
  }
  
  nav .input-field input {
    height: 100%;
    font-size: 1.2rem;
    border: none;
    padding-left: 2rem;
  }
  
  nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  nav .input-field label {
    top: 0;
    left: 0;
  }
  
  nav .input-field label i {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  
  nav .input-field label.active i {
    color: #fff;
  }
  
  .navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 997;
  }
  
  .navbar-fixed nav {
    position: fixed;
  }
  
  @media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
      min-height: 64px;
    }
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
      height: 64px;
      line-height: 64px;
    }
    .navbar-fixed {
      height: 64px;
    }
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }
  
  @media only screen and (min-width: 0) {
    html {
      font-size: 14px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    html {
      font-size: 14.5px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    html {
      font-size: 15px;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
  }
  
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
  }
  
  h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
  }
  
  h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0;
  }
  
  h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
  }
  
  h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
  }
  
  h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
  }
  
  h6 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: 0.7666666667rem 0 0.46rem 0;
  }
  
  em {
    font-style: italic;
  }
  
  strong {
    font-weight: 500;
  }
  
  small {
    font-size: 75%;
  }
  
  .light {
    font-weight: 300;
  }
  
  .thin {
    font-weight: 200;
  }
  
  @media only screen and (min-width: 360px) {
    .flow-text {
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (min-width: 390px) {
    .flow-text {
      font-size: 1.224rem;
    }
  }
  
  @media only screen and (min-width: 420px) {
    .flow-text {
      font-size: 1.248rem;
    }
  }
  
  @media only screen and (min-width: 450px) {
    .flow-text {
      font-size: 1.272rem;
    }
  }
  
  @media only screen and (min-width: 480px) {
    .flow-text {
      font-size: 1.296rem;
    }
  }
  
  @media only screen and (min-width: 510px) {
    .flow-text {
      font-size: 1.32rem;
    }
  }
  
  @media only screen and (min-width: 540px) {
    .flow-text {
      font-size: 1.344rem;
    }
  }
  
  @media only screen and (min-width: 570px) {
    .flow-text {
      font-size: 1.368rem;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .flow-text {
      font-size: 1.392rem;
    }
  }
  
  @media only screen and (min-width: 630px) {
    .flow-text {
      font-size: 1.416rem;
    }
  }
  
  @media only screen and (min-width: 660px) {
    .flow-text {
      font-size: 1.44rem;
    }
  }
  
  @media only screen and (min-width: 690px) {
    .flow-text {
      font-size: 1.464rem;
    }
  }
  
  @media only screen and (min-width: 720px) {
    .flow-text {
      font-size: 1.488rem;
    }
  }
  
  @media only screen and (min-width: 750px) {
    .flow-text {
      font-size: 1.512rem;
    }
  }
  
  @media only screen and (min-width: 780px) {
    .flow-text {
      font-size: 1.536rem;
    }
  }
  
  @media only screen and (min-width: 810px) {
    .flow-text {
      font-size: 1.56rem;
    }
  }
  
  @media only screen and (min-width: 840px) {
    .flow-text {
      font-size: 1.584rem;
    }
  }
  
  @media only screen and (min-width: 870px) {
    .flow-text {
      font-size: 1.608rem;
    }
  }
  
  @media only screen and (min-width: 900px) {
    .flow-text {
      font-size: 1.632rem;
    }
  }
  
  @media only screen and (min-width: 930px) {
    .flow-text {
      font-size: 1.656rem;
    }
  }
  
  @media only screen and (min-width: 960px) {
    .flow-text {
      font-size: 1.68rem;
    }
  }
  
  @media only screen and (max-width: 360px) {
    .flow-text {
      font-size: 1.2rem;
    }
  }
  
  .scale-transition {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
    transition: -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
    transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
    transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63), -webkit-transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
  }
  
  .scale-transition.scale-out {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform .2s !important;
    transition: -webkit-transform .2s !important;
    transition: transform .2s !important;
    transition: transform .2s, -webkit-transform .2s !important;
  }
  
  .scale-transition.scale-in {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  #toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
  }
  
  @media only screen and (max-width: 600px) {
    #toast-container {
      min-width: 100%;
      bottom: 0%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
      left: 5%;
      bottom: 7%;
      max-width: 90%;
    }
  }
  
  @media only screen and (min-width: 993px) {
    #toast-container {
      top: 10%;
      right: 7%;
      max-width: 86%;
    }
  }
  
  .toast {
    border-radius: 2px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: default;
  }
  
  .toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem;
  }
  
  .toast.rounded {
    border-radius: 24px;
  }
  
  @media only screen and (max-width: 600px) {
    .toast {
      width: 100%;
      border-radius: 0;
    }
  }