<div class="container my-3">
    <div class="mx-md-5 mx-sm-1 mb-3 pb-1">
        <div class="search-card-background mat-elevation-z8">
            <div class="pt-3">
                <app-ribbon tittle="CURSOS"></app-ribbon>
                <div class="pos-right mr-3 mb-2">
                    <button routerLink="/admin/courses/new" mat-raised-button color="primary">NUEVO
                        CURSO
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row mb-2">
                        <div class="col l4 s6">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Curso</mat-label>
                                <input matInput name="courseModel" [(ngModel)]="courseModel"
                                    placeholder="Ej. 'Matematica'">
                            </mat-form-field>
                        </div>

                        <div class="col l4 s6">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Año</mat-label>
                                <input matInput name="yearModel" [(ngModel)]="yearModel" placeholder="Ej. 2020">
                            </mat-form-field>
                        </div>
                        <div class="col s12 l4">
                            <mat-form-field appearance="fill">
                                <mat-label>Estado</mat-label>
                                <mat-select name="statusModel" [(ngModel)]="statusModel" [(value)]="statusModel">
                                    <mat-option [value]="-1">
                                        Todos
                                    </mat-option>
                                    <mat-option [value]=true>
                                        Activo
                                    </mat-option>
                                    <mat-option [value]=false>
                                        Inactivos
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m3 s6">
                            <button mat-raised-button color="primary" type="button" (click)="goBack()">
                                <fa-icon [icon]="faLeft">
                                </fa-icon> Regresar
                            </button>
                        </div>
                        <div class="col m3 pos-right offset-m6 s6">
                            <button mat-raised-button color="primary" (click)="fetchCourses()">Buscar <fa-icon
                                    [icon]="faSearch">
                                </fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--TABLE-->
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table *ngIf="!isLoadingResults && courseData.length > 0" mat-table [dataSource]="courseData"
            class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Grade Column -->
            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef> Curso </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Active Column-->
            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef> Año </th>
                <td mat-cell *matCellDef="let element"> {{element.year}}
                </td>
            </ng-container>

            <!-- Edit Column-->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                <td mat-cell *matCellDef="let element">
                    {{element.active===true? "Activo" : "inactivo"}}
                </td>
            </ng-container>

            <!-- Edit Column-->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                        <fa-icon [icon]="faBars"></fa-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item routerLink="/admin/courses/edit/{{element.id}}"
                            [queryParams]="{ course: element.name, status: element.active}">
                            <span>Editar</span>
                        </button>
                        <button mat-menu-item>

                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator *ngIf="!isLoadingResults && courseData.length > 0" [length]="resultsLength" [pageSize]="10"
            [showFirstLastButtons]="true" (page)="onPageChanged($event)"></mat-paginator>

        <div *ngIf="!isLoadingResults && courseData.length === 0">
            <p>No hay cursos creados!</p>
        </div>
    </div>
</div>