<div class="dual-list">
    <div class="listbox">
        <h2>{{sourceName}}</h2>
        <div class="record-picker">
            <ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:available.dragOver}"
                (drop)="drop($event, confirmed)" (dragover)="allowDrop($event, available)" (dragleave)="dragLeave()">
                <li *ngFor="let item of available.sift; let idx=index;"
                    (click)="selectItem(available.pick, item); shiftClick($event, idx, available, item)"
                    [ngClass]="{selected: isItemSelected(available.pick, item)}" draggable="true"
                    (dragstart)="drag($event, item, available)" (dragend)="dragEnd(available)">
                    <label>{{item._name}}</label></li>
            </ul>
        </div>
    </div>

    <div class="buttonbox">
        <button type="button" mat-raised-button color="primary" (click)="moveItemCustom()"
            [disabled]="available.pick.length === 0">
            <fa-icon [icon]="faRight">
            </fa-icon>
        </button>

        <button type="button" mat-raised-button color="primary" (click)="moveAll()"
            [disabled]="isAllSelected(available)">
            <fa-icon [icon]="faAllRight">
            </fa-icon>
        </button>

        <button type="button" mat-raised-button color="primary" (click)="moveItem(confirmed, available)"
            [disabled]="confirmed.pick.length === 0">
            <fa-icon [icon]="faLeft">
            </fa-icon>
        </button>

        <button type="button" mat-raised-button color="primary" (click)="removeAll()"
            [disabled]="isAllSelected(confirmed)">
            <fa-icon [icon]="faAllLeft">
            </fa-icon>
        </button>
    </div>

    <div class="listbox">
        <h2>{{targetName}}</h2>
        <div class="record-picker">
            <ul [ngStyle]="{'max-height': height, 'min-height': height}" [ngClass]="{over:confirmed.dragOver}"
                (drop)="drop($event, available)" (dragover)="allowDrop($event, confirmed)" (dragleave)="dragLeave()">
                <li *ngFor="let item of confirmed.sift; let idx=index;"
                    (click)="selectItem(confirmed.pick, item); shiftClick($event, idx, confirmed, item)"
                    [ngClass]="{selected: isItemSelected(confirmed.pick, item)}" draggable="true"
                    (dragstart)="drag($event, item, confirmed)" (dragend)="dragEnd(confirmed)">
                    <label>{{item._name}}</label></li>
            </ul>
        </div>
    </div>
</div>