<div class="container my-3">
    <div class="card-background z-depth-4 pb-3">
        <app-ribbon tittle="Crear Maestro" editClass="true"></app-ribbon>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row my-2">
                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput name="firstName" [(ngModel)]="firstNameModel" #firstName="ngModel" required>
                        <mat-error
                            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) &&  firstName.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input matInput name="lastName" [(ngModel)]="lastNameModel" #lastName="ngModel" required>
                        <mat-error
                            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) &&  lastName.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Telefono</mat-label>
                        <input matInput name="contactPhone" [(ngModel)]="contactPhoneModel" #contactPhone="ngModel"
                            required>
                        <mat-error
                            *ngIf="contactPhone.invalid && (contactPhone.dirty || contactPhone.touched) &&  contactPhone.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Telefono contacto 2</mat-label>
                        <input matInput name="contactPhone2" [(ngModel)]="contactPhone2Model" #contactPhone2="ngModel">
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Telefono contacto 3</mat-label>
                        <input matInput name="contactPhone3" [(ngModel)]="contactPhone3Model" #contactPhone3="ngModel"
                            required>
                    </mat-form-field>
                </div>
                <div class="col s12 l4">
                    <mat-form-field appearance="fill">
                        <mat-label>Genero</mat-label>
                        <mat-select name="genderModel" [(ngModel)]="genderModel" [(value)]="genderModel" required>
                            <mat-option value="M">
                                Masculino
                            </mat-option>
                            <mat-option value=F>Femenino </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha Nacimiento</mat-label>
                        <input matInput name="birthdate" [(ngModel)]="dateBirthModel" [min]="minDate" [max]="maxDate"
                            [matDatepicker]="dp3" [(value)]="dateBirthModel" disabled required>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Alergias</mat-label>
                        <textarea matInput name="alergies" [(ngModel)]="alergiesModel"></textarea>
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" [(ngModel)]="emailModel" #email="ngModel" required>
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched) &&  email.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select name="isActive" [(ngModel)]="isActive" required>
                            <mat-option [value]=true>
                                Activo
                            </mat-option>
                            <mat-option [value]=false>
                                Inactivos
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Grado</mat-label>
                        <mat-select name="grades" (selectionChange)="select($event.value)" ngModel required>
                            <mat-option *ngFor="let grade of gradeList" [value]="grade.id">
                                {{grade.gradeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Secciones</mat-label>
                        <mat-select name="sections" ngModel required multiple
                            (selectionChange)="selectSections($event.value)">
                            <mat-option *ngFor="let section of sectionList" [value]="section.id">
                                {{section.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field appearance="fill">
                        <mat-label>Cursos</mat-label>
                        <mat-select name="courses" ngModel required multiple
                            (selectionChange)="selectCourses($event.value)">
                            <mat-option *ngFor="let course of courseList" [value]="course.id">
                                {{course.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col m3 offset-m6 s6 ">
                    <button mat-raised-button type="button" color="warn" (click)="addCourse();">Agregar cursos
                    </button>
                </div>

                <div *ngIf="teacherData.length > 0" class="col m3 s6 ">
                    <button mat-raised-button type="button" color="warn" (click)="removeAllCourses();">
                        <fa-icon [icon]="faTrash"></fa-icon> Quitar
                        cursos
                    </button>
                </div>

            </div>



            <!--TABLE-->
            <div class="mx-md-5 mx-sm-1 mb-3 pb-3">
                <table mat-table [dataSource]="teacherData">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id. </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <!-- Grade Column -->
                    <ng-container matColumnDef="grade">
                        <th mat-header-cell *matHeaderCellDef> Grado </th>
                        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
                    </ng-container>

                    <!-- Grade Column -->
                    <ng-container matColumnDef="section">
                        <th mat-header-cell *matHeaderCellDef> Seccion </th>
                        <td mat-cell *matCellDef="let element"> {{element.section}} </td>
                    </ng-container>

                    <!-- Active Column-->
                    <ng-container matColumnDef="course">
                        <th mat-header-cell *matHeaderCellDef> Curso </th>
                        <td mat-cell *matCellDef="let element"> {{element.course}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element; let j = index;">
                            <button mat-mini-fab color="accent" aria-label="Quitar" type="button"
                                (click)="deleteCourse(j)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div class="row">
                <div class="col m3 s6">
                    <button mat-raised-button color="primary" type="button" (click)="goBack()">
                        <fa-icon [icon]="faLeft">
                        </fa-icon> Regresar
                    </button>
                </div>
                <div class="col m3 offset-m6 s6 ">
                    <button mat-raised-button color="primary" type="submit"
                        name="action">{{id===null?"Crear":"Editar" }}<fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>