<h1 mat-dialog-title>{{ data.header }}</h1>
<div mat-dialog-content class="mat-typography">{{ data.contentModal }}</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCloseModal()">{{ data.buttonText }}</button>
</div>