<div class="container my-3">
    <div class="card-background z-depth-4 pb-1">
        <app-ribbon tittle="Crear grado" editClass="true"></app-ribbon>
        <div class="mx-lg-3">
            <div class="row mx-3">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="col s12 search-card-background">
                    <div class="row my-2">
                        <div class="col l6 s12">
                            <mat-form-field appearance="fill">
                                <mat-label>Grado</mat-label>
                                <input matInput name="grade" [(ngModel)]="gradeModel" #grade="ngModel" required>
                                <mat-error
                                    *ngIf="grade.invalid && (grade.dirty || grade.touched) &&  grade.errors.required">
                                    Requerido
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col l6 s12">
                            <mat-form-field appearance="fill">
                                <mat-label>Secciones</mat-label>
                                <mat-select name="sections" ngModel required multiple>
                                    <mat-option *ngFor="let section of sectionList" [value]="section.id">
                                        {{section.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col l6 s12">
                            <mat-form-field appearance="fill">
                                <mat-label>Estado</mat-label>
                                <mat-select name="isActive" ngModel required>
                                    <mat-option [value]=true>
                                        Activo
                                    </mat-option>
                                    <mat-option [value]=false>
                                        Inactivos
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col l12 s12">
                            <app-custom-dual-list [source]="source" [(destination)]="target" height="350px"
                                (selectChange)="showMessage($event)" sourceName="Cursos disponibles" targetName="Cursos"
                                [sort]="true">
                            </app-custom-dual-list>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col m3 s6">
                            <button mat-raised-button color="primary" type="button" (click)="goBack()">
                                <fa-icon [icon]="faLeft">
                                </fa-icon> Regresar
                            </button>
                        </div>
                        <div class="col m3 offset-m6 s6 ">
                            <button mat-raised-button color="primary" type="submit"
                                name="action">{{id===null?"Crear ":"Editar " }}<fa-icon [icon]="faPlus"></fa-icon>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>