<div class="container my-3">
    <div class="mx-md-5 mx-sm-1 mb-3 pb-1">
        <div class="search-card-background mat-elevation-z8">
            <div class="pt-3">
                <app-ribbon tittle="ESTUDIANTES"></app-ribbon>
                <div class="pos-right mr-3 mb-2">
                    <button routerLink="/admin/students/new" mat-raised-button color="primary">NUEVO
                        ESTUDIANTE
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row mb-2">
                        <div class="col l4 s6">
                            <mat-form-field appearance="standard">
                                <mat-label>Nombre</mat-label>
                                <input matInput name="firstNameModel" [(ngModel)]="firstNameModel"
                                    placeholder="Ej. Juan Esteban">
                            </mat-form-field>
                        </div>

                        <div class="col l4 s6">
                            <mat-form-field appearance="standard">
                                <mat-label>Apellidos</mat-label>
                                <input matInput name="lastNameModel" [(ngModel)]="lastNameModel"
                                    placeholder="Ej. Perez Sosa">
                            </mat-form-field>
                        </div>

                        <div class="col l4 s6">
                            <mat-form-field appearance="standard">
                                <mat-label>Correo</mat-label>
                                <input matInput name="mailModel" [(ngModel)]="mailModel"
                                    placeholder="Ej. ejemplo@gmail.com">
                            </mat-form-field>
                        </div>

                        <div class="col s6 l4">
                            <mat-form-field appearance="standard">
                                <mat-label>Genero</mat-label>
                                <mat-select name="genderModel" [(ngModel)]="genderModel" [(value)]="genderModel">
                                    <mat-option [value]="-1">
                                        Todos
                                    </mat-option>
                                    <mat-option value="M">
                                        Masculino
                                    </mat-option>
                                    <mat-option value=F>Femenino </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col l4 s6">
                            <mat-form-field appearance="standard">
                                <mat-label>Año</mat-label>
                                <input matInput name="yearModel" [(ngModel)]="yearModel" placeholder="Ej. 2020">
                            </mat-form-field>
                        </div>
                        <div class="col s6 l4">
                            <mat-form-field appearance="standard">
                                <mat-label>Estado</mat-label>
                                <mat-select name="statusModel" [(ngModel)]="statusModel" [(value)]="statusModel">
                                    <mat-option [value]="-1">
                                        Todos
                                    </mat-option>
                                    <mat-option [value]=true>
                                        Activo
                                    </mat-option>
                                    <mat-option [value]=false>
                                        Inactivos
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m3 s6">
                            <button mat-raised-button color="primary" type="button" (click)="goBack()">
                                <fa-icon [icon]="faLeft">
                                </fa-icon> Regresar
                            </button>
                        </div>
                        <div class="col m3 offset-m6 s6">
                            <button mat-raised-button color="primary" (click)="fetchStudents()">Buscar <fa-icon
                                    [icon]="faSearch">
                                </fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--TABLE-->
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table *ngIf="!isLoadingResults && teacherData.length > 0" mat-table [dataSource]="teacherData">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <!-- Grade Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Grade Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Edit Column-->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                <td mat-cell *matCellDef="let element">
                    {{element.active===true? "Activo" : "inactivo"}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator *ngIf="!isLoadingResults && teacherData.length > 0" [length]="resultsLength" [pageSize]="10"
            [showFirstLastButtons]="true" (page)="onPageChanged($event)"></mat-paginator>

        <div *ngIf="!isLoadingResults && teacherData.length === 0">
            <p>No hay alumnos creados!</p>
            <img class="circle responsive-img" src="assets/images/no-data.png">
        </div>
    </div>
</div>