<div class="container">

    <h1 style="color:white; text-align: center;" class="pt-2">Configuración </h1>
    <div class="row mt-3">
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{cursoCard.name}} route={{cursoCard.route}} imageSrc={{cursoCard.imgSrc}}
                description={{cursoCard.desc}}> </app-general-card>

        </div>
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{teacherCard.name}} route={{teacherCard.route}} imageSrc={{teacherCard.imgSrc}}
                description={{teacherCard.desc}}></app-general-card>
        </div>
        <div class="col s12 m4">
            <app-general-card tittle={{studentCard.name}} route={{studentCard.route}} imageSrc={{studentCard.imgSrc}}
                description={{studentCard.desc}}> </app-general-card>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{gradesCard.name}} route={{gradesCard.route}} imageSrc={{gradesCard.imgSrc}}
                description={{gradesCard.desc}}> </app-general-card>
        </div>

        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{sectionCard.name}} route={{sectionCard.route}} imageSrc={{sectionCard.imgSrc}}
                description={{sectionCard.desc}}> </app-general-card>
        </div>
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{settingsCard.name}} route={{settingsCard.route}} imageSrc={{settingsCard.imgSrc}}
                description={{settingsCard.desc}}>
            </app-general-card>
        </div>
    </div>