<div class="container my-3">
    <div class="card-background z-depth-4 pb-3">
        <app-ribbon tittle="Crear Tarea" editClass="true"></app-ribbon>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row my-2 mx-5">
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput name="name" [(ngModel)]="nameModel" #name="ngModel" required>
                        <mat-error *ngIf="name.invalid && (name.dirty || name.touched) &&  name.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Punteo</mat-label>
                        <input matInput name="score" [(ngModel)]="scoreModel" #score="ngModel" required>
                        <mat-error *ngIf="score.invalid && (score.dirty || score.touched) &&  score.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Fecha Entrega</mat-label>
                        <input matInput name="deliveryDate" [(ngModel)]="deliveryDateModel" [min]="minDate"
                            [max]="maxDate" [matDatepicker]="dp3" [(value)]="deliveryDateModel" disabled required
                            #deliveryDate="ngModel">
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>

                        <mat-error
                            *ngIf="deliveryDate.invalid && (deliveryDate.dirty || deliveryDate.touched) &&  deliveryDate.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col l12 s12">
                    <angular-editor [config]="editorConfig" [(ngModel)]="htmlContent" name="htmlContent">
                    </angular-editor>
                </div>
            </div>
            <div class="row">
                <div class="col m3 s6">
                    <button mat-raised-button color="primary" type="button">
                        <fa-icon [icon]="faLeft">
                        </fa-icon> Regresar
                    </button>
                </div>
                <div class="col m4 offset-m5 s6 pos-right">
                    <button mat-raised-button color="primary" type="submit"
                        name="action">{{id===null?"Crear ":"Editar " }}<fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>