<div class="background">
    <mat-card class="box">
        <mat-card-header class="center">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <div *ngIf="isLoginFail" class="card-panel" style="color:red; background-color: #ffebee;">{{errMessage}}</div>
        <form (ngSubmit)="onLogin(f)" #f="ngForm">
            <mat-card-content>
                <mat-form-field class="mt-2" [hideRequiredMarker]=true>
                    <mat-label>Usuario</mat-label>
                    <input matInput name="userName" id="userName" [(ngModel)]="userName" required>
                </mat-form-field>
                <mat-form-field class="mt-2 my-sm-0" [hideRequiredMarker]=true>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" name="password" id="password" [(ngModel)]="password" required>
                </mat-form-field>
                <div class="center mt-sm-3">
                    <button mat-raised-button class="center my-sm-2 mb-sm-4" color="primary" type="submit"
                        name="action">Iniciar
                        sesión
                    </button>
                </div>
                <div class="align-right mt-md-4">
                    <a (click)="getPassword()">Olvide mi contraseña</a>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>