$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

div.background {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../../assets/images/login-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
 }

 .box{
    position: absolute;
    margin: 0;
    opacity: 0.85;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
 }

 .center {
    justify-content: center;
  }

  .align-right{
    text-align: right;
  }

  @media #{$small-and-down} {
   .box{
      min-width: 85vw;
   }
 }
 @media #{$medium-and-up} {
   .box{
      min-width: 85vw;
   }
}

@media #{$large-and-up} {
   .box{
      min-width: 25vw;;
      max-width: 50vw;
      max-height: 80vh;
   }
 }