<div class="container my-3">
    <div class="mx-md-5 mx-sm-1 mb-3 pb-1">
        <div class="search-card-background mat-elevation-z8">
            <div class="pt-3">
                <app-ribbon tittle="CURSOS"></app-ribbon>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row mb-2">
                        <div class="col l6 s6">
                            <mat-form-field>
                                <mat-label>Curso</mat-label>
                                <input matInput name="courseModel" [(ngModel)]="courseModel"
                                    placeholder="Ej. 'Matematica'">
                            </mat-form-field>
                        </div>
                        <div class="col l6 s6">
                            <mat-form-field>
                                <mat-label>Grado</mat-label>
                                <mat-select name="grades" ngModel>
                                    <mat-option *ngFor="let grade of gradeList" [value]="grade.id">
                                        {{grade.gradeName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m3 s6">
                            <button mat-raised-button color="primary" type="button" (click)="goBack()">
                                <fa-icon [icon]="faLeft">
                                </fa-icon> Regresar
                            </button>
                        </div>
                        <div class="col m3 pos-right offset-m6 s6">
                            <button mat-raised-button color="primary" (click)="fetchCourses()">Buscar <fa-icon
                                    [icon]="faSearch">
                                </fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--TABLE-->
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table *ngIf="!isLoadingResults && courseData.length > 0" mat-table [dataSource]="courseData"
            class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef width="15%"> Id. </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef> Curso </th>
                <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
            </ng-container>

            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef> Grado </th>
                <td mat-cell *matCellDef="let element"> {{element.gradeName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="section">
                <th mat-header-cell *matHeaderCellDef width="10%"> Seccion </th>
                <td mat-cell *matCellDef="let element">
                    {{element.sectionName}}
                </td>
            </ng-container>

            <ng-container matColumnDef="check">
                <th mat-header-cell *matHeaderCellDef> Ver </th>
                <td mat-cell *matCellDef="let element">
                    <button routerLink="/admin-teacher/course-detail/{{element.id}}" mat-icon-button color="primary"
                        aria-label="Ver">
                        <fa-icon [icon]="faFolder">
                        </fa-icon> Ver
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator *ngIf="!isLoadingResults && courseData.length > 0" [length]="resultsLength" [pageSize]="10"
            [showFirstLastButtons]="true" (page)="onPageChanged($event)"></mat-paginator>

        <div *ngIf="!isLoadingResults && courseData.length === 0">
            <p>No hay cursos asignados!</p>
        </div>
    </div>
</div>