<div class="container my-3">
    <div class="card-background z-depth-4 pb-3">
        <app-ribbon tittle="Nuevo año" editClass="true"></app-ribbon>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row my-2">
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Año</mat-label>
                        <input matInput id="year" name="year" required pattern="^[1-9]+[0-9]*$" [(ngModel)]="yearModel"
                            #year="ngModel" type="number">

                        <mat-error *ngIf="year.invalid && (year.dirty || year.touched) &&  year.errors.required">
                            Requerido
                        </mat-error>
                        <mat-error *ngIf="year.invalid && (year.dirty || year.touched) &&  year.errors.pattern">
                            Invalido
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select name="isActive" ngModel required>

                            <mat-option [value]=true>
                                Activo
                            </mat-option>
                            <mat-option [value]=false>
                                Inactivos
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col m3 s6">
                    <button mat-raised-button color="primary" type="button" (click)="goBack()">
                        <fa-icon [icon]="faLeft">
                        </fa-icon> Regresar
                    </button>
                </div>
                <div class="col m3 offset-m6 s6">
                    <button mat-raised-button color="primary" type="submit"
                        name="action">{{id===null?"Crear":"Editar" }}<fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>