<div class="container">
    <button class="mt-2" mat-raised-button color="primary" type="button" (click)="goBack()">
        <fa-icon [icon]="faLeft">
        </fa-icon> Regresar
    </button>

    <h1 style="color:white; text-align: center;" class="pt-2">Configuración Avanzada </h1>
    <div class="row">
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{yearCard.name}} route={{yearCard.route}} imageSrc={{yearCard.imgSrc}}
                description={{yearCard.desc}}>
            </app-general-card>
        </div>
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{passwordCard.name}} route={{passwordCard.route}} imageSrc={{passwordCard.imgSrc}}
                description={{passwordCard.desc}}>
            </app-general-card>
        </div>
        <div class="col s12 m4 mb-sm-3">
            <app-general-card tittle={{notificationCard.name}} route={{notificationCard.route}}
                imageSrc={{notificationCard.imgSrc}} description={{notificationCard.desc}}>
            </app-general-card>
        </div>
    </div>
</div>