<div class="container">

    <h1 style="color:white; text-align: center;" class="pt-2">Configuración </h1>
    <div class="row mt-3">
        <div class="col s12 m6 mb-sm-3">
            <app-general-card tittle={{cursoCard.name}} route={{cursoCard.route}} imageSrc={{cursoCard.imgSrc}}
                description={{cursoCard.desc}}> </app-general-card>

        </div>
        <div class="col s12 m6 mb-sm-3">
            <app-general-card tittle={{settingsCard.name}} route={{settingsCard.route}} imageSrc={{settingsCard.imgSrc}}
                description={{settingsCard.desc}}>
            </app-general-card>
        </div>
    </div>
</div>