<div class="container my-3">
    <div class="mx-md-5 mx-sm-1 mb-3 pb-1">
        <div class="search-card-background mat-elevation-z8">
            <div class="pt-3">
                <app-ribbon tittle={{courseName}}></app-ribbon>
            </div>
            <div class="row">
                <div class="col m4 s12">
                    <button class="ml-3" mat-raised-button color="primary" type="button" (click)="goBack()">
                        <fa-icon [icon]="faLeft">
                        </fa-icon> Regresar
                    </button>
                </div>
                <div class="col m4 s12">
                    <button mat-raised-button color="accent" type="button"
                        routerLink="/admin-teacher/new-homework/{{id}}">
                        Nueva Tarea <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
                <div class="col m4 s12">
                    <button mat-raised-button color="accent" type="button" (click)="goBack()">
                        Nuevo mensaje <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>


            <h2 style="text-align: center;" class="pb-0">TAREAS</h2>

            <div class="px-3 pb-3">
                <table class="px-3" *ngIf="!isLoadingResults && homeworkData.length > 0" mat-table
                    [dataSource]="homeworkData" class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Tarea </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="deliveryDate">
                        <th mat-header-cell *matHeaderCellDef> Fecha Entrega</th>
                        <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date: 'dd/MM/yyyy'}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef> Punteo </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.score}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{totalPoints}} </td>
                    </ng-container>

                    <ng-container matColumnDef="check">
                        <th mat-header-cell *matHeaderCellDef> Opciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Acciones">
                                <fa-icon [icon]="faBars"></fa-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item routerLink="/admin/grades/edit/{{element.id}}">
                                    <fa-icon [icon]="faEdit"></fa-icon> <span> Editar</span>
                                </button>
                                <button mat-menu-item routerLink="/admin-teacher/check-homework/{{element.id}}"
                                    [queryParams]="{ studentCourse: element.courseTeacherId}">
                                    <fa-icon [icon]="faSpellCheck"></fa-icon> <span> Calificar</span>
                                </button>
                                <button mat-menu-item>
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                    <span> Eliminar</span>
                                </button>
                            </mat-menu>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedHomeworkColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedHomeworkColumns"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedHomeworkColumns"></tr>
                </table>
                <mat-paginator class="mat-elevation-z8" *ngIf="!isLoadingResults && homeworkData.length > 0"
                    [length]="resultsLength" [pageSize]="10" [showFirstLastButtons]="true"
                    (page)="onPageChanged($event)"></mat-paginator>

                <div *ngIf="!isLoadingResults && homeworkData.length === 0">
                    <p>No hay tareas asignadas!</p>
                </div>
            </div>

            <h2 style="text-align: center;" class="pb-0">Alumnos</h2>

            <div class="px-3 pb-3">
                <table class="px-3" *ngIf="!isLoadingResults && studentData.length > 0" mat-table
                    [dataSource]="studentData" class="mat-elevation-z8">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef width="10%"> Id. </th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.completeName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="average">
                        <th mat-header-cell *matHeaderCellDef> Punteo </th>
                        <td mat-cell *matCellDef="let element"> {{element.average}} <b> / {{totalPoints}} </b>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedStudentColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedStudentColumns;"></tr>
                </table>
                <mat-paginator class="mat-elevation-z8" *ngIf="!isLoadingResults && studentData.length > 0"
                    [length]="resultsLength" [pageSize]="10" [showFirstLastButtons]="true"
                    (page)="onPageChanged($event)"></mat-paginator>

                <div *ngIf="!isLoadingResults && studentData.length === 0">
                    <p>No hay Alumnos asignados!</p>
                </div>
            </div>
        </div>
    </div>
</div>