<div class="my-sm-2 my-md-4"></div>
<div class="row valign-wrapper hide-on-small-only">
    <div class="col m4 offset-m4 center-align">
        <img class="responsive-img logo" src="assets/images/main-logo.jfif">
    </div>
</div>