<mat-card routerLink={{route}} class="fixed-card-height hoverable" style="cursor: pointer;">
    <mat-card-header>
        <!--<div mat-card-avatar></div>
        
        <mat-card-title>{{tittle}}</mat-card-title> -->
    </mat-card-header>
    <mat-card-content class="card-image">
        <img mat-card-image class="card-img" src={{imageSrc}} alt={{tittle}}>
        <!--<mat-card-actions> -->
        <mat-card-title>{{tittle}}</mat-card-title>
        {{description}}
        <!-- <button mat-button>{{tittle}}</button> -->
        <!-- </mat-card-actions>-->
    </mat-card-content>
</mat-card>