<div class="container my-3">
    <div class="card-background z-depth-4 pb-3">
        <app-ribbon tittle="Crear Estudiante" editClass="true"></app-ribbon>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row my-2">
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput name="firstName" [(ngModel)]="firstNameModel" #firstName="ngModel" required>
                        <mat-error
                            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched) &&  firstName.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Apellido</mat-label>
                        <input matInput name="lastName" [(ngModel)]="lastNameModel" #lastName="ngModel" required>
                        <mat-error
                            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched) &&  lastName.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Nombre de encargado 1</mat-label>
                        <input matInput name="personCharge" [(ngModel)]="personChargeModel" #personCharge="ngModel">
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Nombre de encargado 2</mat-label>
                        <input matInput name="otherPersonCharge" [(ngModel)]="personChargeModel2"
                            #otherPersonCharge="ngModel">
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Telefono de contacto</mat-label>
                        <input matInput name="contactPhone" [(ngModel)]="contactPhoneModel" #contactPhone="ngModel"
                            required>
                        <mat-error
                            *ngIf="contactPhone.invalid && (contactPhone.dirty || contactPhone.touched) &&  contactPhone.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Telefono contacto 2</mat-label>
                        <input matInput name="contactPhone2" [(ngModel)]="contactPhone2Model" #contactPhone2="ngModel">
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Telefono contacto 3</mat-label>
                        <input matInput name="contactPhone3" [(ngModel)]="contactPhone3Model" #contactPhone3="ngModel"
                            required>
                    </mat-form-field>
                </div>
                <div class="col s12 l4">
                    <mat-form-field>
                        <mat-label>Genero</mat-label>
                        <mat-select name="genderModel" [(ngModel)]="genderModel" [(value)]="genderModel" required>
                            <mat-option value="M">
                                Masculino
                            </mat-option>
                            <mat-option value=F>Femenino </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Fecha Nacimiento</mat-label>
                        <input matInput name="birthdate" [(ngModel)]="dateBirthModel" [min]="minDate" [max]="maxDate"
                            [matDatepicker]="dp3" [(value)]="dateBirthModel" disabled required>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Alergias</mat-label>
                        <textarea matInput name="alergies" [(ngModel)]="alergiesModel"></textarea>
                    </mat-form-field>
                </div>
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput name="email" [(ngModel)]="emailModel" #email="ngModel" required>
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched) &&  email.errors.required">
                            Requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select name="isActive" [(ngModel)]="isActive" required>
                            <mat-option [value]=true>
                                Activo
                            </mat-option>
                            <mat-option [value]=false>
                                Inactivos
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Grado</mat-label>
                        <mat-select name="grades" (selectionChange)="select($event.value)" ngModel required>
                            <mat-option *ngFor="let grade of gradeList" [value]="grade.id">
                                {{grade.gradeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col l6 s12">
                    <mat-form-field>
                        <mat-label>Sección</mat-label>
                        <mat-select name="sections" ngModel required (selectionChange)="selectSections($event.value)">
                            <mat-option *ngFor="let section of sectionList" [value]="section.id">
                                {{section.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col m3 s6">
                    <button mat-raised-button color="primary" type="button" (click)="goBack()">
                        <fa-icon [icon]="faLeft">
                        </fa-icon> Regresar
                    </button>
                </div>
                <div class="col m3 offset-m6 s6 ">
                    <button mat-raised-button color="primary" type="submit"
                        name="action">{{id===null?"Crear":"Editar" }}<fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>