$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pos-right{
  text-align: right;
}

.card-background {
  background-color:#cfd8db;
  opacity: 0.95;
}

.search-card-background{
  background-color: #cfd8db;
}

html, body{
    background-image: url("/assets/images/admin-background.jpg");
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans MT','Lato', sans-serif;
}

.btn-primary{
  background: #26c6da;
}
.btn-second{
  background: #1a237e;
}

  section {
    padding: 0 20px;
  }

  .ribbon3-edit{
    top: 1rem;
  }

  .ribbon3 {
    height: 3rem;
    line-height: 3rem;
    padding-left: 2rem;
    position: relative;
    left: -0.65rem;
    background: #f57f17;
    color: white;
  }

  .ribbon3 h1{
    font-size: 1.4em;
    font-weight: 400;
    margin: 0;
    display: inline;
}
    
  .ribbon3:before, .ribbon3:after {
    content: "";
    position: absolute;
  }
  .ribbon3:before {
    height: 0;
    width: 0;
    top: -0.61rem;
    left: 0.1px;
    border-bottom: 9px solid black;
    border-left: 9px solid transparent;
  }
  .ribbon3:after {
    height: 0;
    width: 0;
    right: -2rem;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 2rem solid #f57f17;
  }
  
  @media #{$small-and-down} {
    .ribbon3 {
      width: 75%;
    }
    .ribbon3 h1{
      font-size: 1em;
      font-weight: 200;
      margin: 0;
      display: inline;
  }
  }

  @media #{$medium-and-up} {
    .ribbon3 {
      width: 50%;
    }
    
    .fixed-card-height{
      height: 32vh;
      
      }
      .card-image{
          overflow: hidden;
          
      }
      .card-img{
        height: 25vh;
        object-fit: contain;
      }
  }

  @media #{$large-and-up} {
    .ribbon3 {
      width: 40%;
    }
  }

  @media #{$extra-large-and-up} {
    
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.angular-editor-textarea{
  border: 1px solid #6b6a6a !important;
  background-color: white !important; 
}